<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.7.0" targetFramework="net472" />
  <package id="Xceed.Document.NET" version="5.0.25228.6154" targetFramework="net472" />
  <package id="Xceed.Drawing.NET" version="1.0.25228.6154" targetFramework="net472" />
  <package id="Xceed.Pdf" version="5.0.25228.6154" targetFramework="net472" />
</packages>